In [10]:
import sys
sys.path.append('/home/ian/code/github')

In [11]:
from utils1.pandas_wrapper import pandas_wrapper as pdw
import pandas as pd
import numpy as np

### ndarray和dataframe相互转换

In [12]:
a1 = np.array([[1,2],[3,4]])
a1

array([[1, 2],
       [3, 4]])

In [13]:
df = pd.DataFrame(a1,columns=['a','b'])
df

   a  b
0  1  2
1  3  4

In [8]:
df.values

array([[1, 2],
       [3, 4]])

In [14]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [15]:
df.loc[df.index==1]

   a  b
1  3  4