In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)))

   0  1  2  3  4
0  5  6  2  2  5
1  4  7  1  3  7
2  2  6  9  3  5
3  8  2  8  1  1
4  9  8  8  6  6

In [18]:
df = pd.DataFrame({ 'A' : 1.,
                         'B' : pd.Timestamp('20130102'),
#                          'C' : pd.Series(1,index=list(range(1,5)),dtype='float32'),
                         'D' : np.array([3] * 4,dtype='int32'),
                         'E' : pd.Categorical(["test","train","test","train"]),
                         'C1' : pd.Series(1,index=list(range(2,6)),dtype='float32'),
                         'F' : 'foo' })

In [19]:
df.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 3, 'test', 1.0, 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 3, 'train', 1.0, 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 3, 'test', 1.0, 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 3, 'train', 1.0, 'foo']],
      dtype=object)

In [20]:
df.describe()

         A    D   C1
count  4.0  4.0  4.0
mean   1.0  3.0  1.0
std    0.0  0.0  0.0
min    1.0  3.0  1.0
25%    1.0  3.0  1.0
50%    1.0  3.0  1.0
75%    1.0  3.0  1.0
max    1.0  3.0  1.0

In [23]:
df[df > 0]

     A          B  D      E   C1    F
2  1.0 2013-01-02  3   test  1.0  foo
3  1.0 2013-01-02  3  train  1.0  foo
4  1.0 2013-01-02  3   test  1.0  foo
5  1.0 2013-01-02  3  train  1.0  foo

In [22]:
df[df > 1]

    A          B  D      E  C1    F
2 NaN 2013-01-02  3   test NaN  foo
3 NaN 2013-01-02  3  train NaN  foo
4 NaN 2013-01-02  3   test NaN  foo
5 NaN 2013-01-02  3  train NaN  foo

In [15]:
t = pd.Timestamp('20130102')

In [16]:
t

Timestamp('2013-01-02 00:00:00')

In [17]:
type(t)

pandas._libs.tslibs.timestamps.Timestamp